body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0% 23% 1.45% 23%;
}
.welcomeHotel {
    background: url(./img/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10% 10% 14% 10%;
}
.infoWelcomeHotel {

}